<h2>Sale</h2>
<form name="editForm" role="form" novalidate #editForm="ngForm">
  <div class="row">
     <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="productNameInput">Product Name</label>
            <select class="form-control" name="productNameInput" [(ngModel)]="sales.productId" placeholder="Product Name" id="productNameInput" required>
                <option *ngFor="let p of products" [value]="p.id">{{p.productName}} - {{p.quantity}}</option>
            </select>
            <div [hidden]="!(editForm.controls.productNameInput?.dirty && editForm.controls.productNameInput?.invalid)">
              <small class="form-text text-danger" [hidden]="!editForm.controls.productNameInput?.errors?.required">
                  This field is required.
              </small>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="clientIDInput">Client ID</label>
            <!--<input type="number" class="form-control" name="clientIDInput" id="clientIDInput" [(ngModel)]="sales.clientId" placeholder="Client ID" required/>-->
            <select class="form-control" name="clientNameInput" [(ngModel)]="sales.clientId" placeholder="Client Name" id="clientNameInput" required>
                <option *ngFor="let c of clients" [value]="c.id">{{c.firstName}} {{c.lastName}}</option>
            </select>
            <div [hidden]="!(editForm.controls.clientIDInput?.dirty && editForm.controls.clientIDInput?.invalid)">
              <small class="form-text text-danger" [hidden]="!editForm.controls.clientIDInput?.errors?.required">
                  This field is required.
              </small>
            </div>
        </div>
    </div>
     <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="staffIDInput">Staff ID</label>
            <!--<input type="number" class="form-control" name="staffIDInput" id="staffIDInput" [(ngModel)]="sales.staffId" placeholder="Staff ID" required/>-->
            <select class="form-control" name="staffNameInput" [(ngModel)]="sales.staffId" placeholder="Staff Name" id="staffNameInput" required>
                <option *ngFor="let u of users" [value]="u.id">{{u.firstName}} {{u.lastName}}</option>
            </select>
            <div [hidden]="!(editForm.controls.staffIDInput?.dirty && editForm.controls.staffIDInput?.invalid)">
              <small class="form-text text-danger" [hidden]="!editForm.controls.staffIDInput?.errors?.required">
                  This field is required.
              </small>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
          <label class="form-control-label" for="saleDateInput">Sale Date</label>
          <input type="date" class="form-control" name="saleDateInput" id="productExpirsaleDateInputeDateInput" [(ngModel)]="sales.saleDate" placeholder="Sale Date" required/>
          <div [hidden]="!(editForm.controls.saleDateInput?.dirty && editForm.controls.saleDateInput?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.saleDateInput?.errors?.required">
                This field is required.
            </small>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
          <label class="form-control-label" for="totalPriceInput">Total Price</label>
          <input type="number" class="form-control" name="totalPriceInput" id="totalPriceInput" [(ngModel)]="sales.totalPrice" placeholder="Total Price" required/>
          <div [hidden]="!(editForm.controls.totalPriceInput?.dirty && editForm.controls.totalPriceInput?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.totalPriceInput?.errors?.required">
                This field is required.
            </small>
          </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
      <div class="form-group">
          <label class="form-control-label" for="productQuantity">Quantity</label>
          <input type="number" class="form-control" name="productQuantity" id="productQuantity" [(ngModel)]="sales.quantity" placeholder="Quantity" required/>
          <div [hidden]="!(editForm.controls.productQuantity?.dirty && editForm.controls.productQuantity?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.productQuantity?.errors?.required">
                This field is required.
            </small>
          </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" [disabled]="editForm.form.invalid" (click)="saveSale()">
    <fa-icon [icon]="'save'"></fa-icon>
    <span> Save</span>
  </button>
</form>
