<h2>Product</h2>
<form name="editForm" role="form" novalidate #editForm="ngForm">
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="productNameInput">Product Name</label>
            <input type="text" class="form-control" name="productNameInput" id="productNameInput" [(ngModel)]="product.productName" placeholder="Product Name" required/>
            <div [hidden]="!(editForm.controls.productNameInput?.dirty && editForm.controls.productNameInput?.invalid)">
              <small class="form-text text-danger" [hidden]="!editForm.controls.productNameInput?.errors?.required">
                  This field is required.
              </small>
            </div>
        </div>
    </div>
     <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="productCodeInput">Product Code</label>
            <input type="text" class="form-control" name="productCodeInput" id="productCodeInput" [(ngModel)]="product.productCode" placeholder="Product Code" required/>
            <div [hidden]="!(editForm.controls.productCodeInput?.dirty && editForm.controls.productCodeInput?.invalid)">
              <small class="form-text text-danger" [hidden]="!editForm.controls.productCodeInput?.errors?.required">
                  This field is required.
              </small>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="productDescInput">Product Description</label>
            <input type="text" class="form-control" name="productDescInput" id="productDescInput" [(ngModel)]="product.description" placeholder="Product Description" required/>
            <div [hidden]="!(editForm.controls.productDescInput?.dirty && editForm.controls.productDescInput?.invalid)">
              <small class="form-text text-danger" [hidden]="!editForm.controls.productDescInput?.errors?.required">
                  This field is required.
              </small>
            </div>
        </div>
    </div>
     <div class="col-md-6">
        <div class="form-group">
            <label class="form-control-label" for="productBrandInput">Product Brand</label>
            <input type="text" class="form-control" name="productBrandInput" id="productBrandInput" [(ngModel)]="product.brand" placeholder="Product Brand" required/>
            <div [hidden]="!(editForm.controls.productBrandInput?.dirty && editForm.controls.productBrandInput?.invalid)">
              <small class="form-text text-danger" [hidden]="!editForm.controls.productBrandInput?.errors?.required">
                  This field is required.
              </small>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
          <label class="form-control-label" for="productExpireDateInput">Submission Date</label>
          <input type="date" class="form-control" name="productExpireDateInput" id="productExpireDateInput" [(ngModel)]="product.expireDate" placeholder="Expire Date" required/>
          <div [hidden]="!(editForm.controls.productExpireDateInput?.dirty && editForm.controls.productExpireDateInput?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.productExpireDateInput?.errors?.required">
                This field is required.
            </small>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
          <label class="form-control-label" for="productPriceInput">Price</label>
          <input type="number" class="form-control" name="productPriceInput" id="productPriceInput" [(ngModel)]="product.price" placeholder="Price" required/>
          <div [hidden]="!(editForm.controls.productPriceInput?.dirty && editForm.controls.productPriceInput?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.productPriceInput?.errors?.required">
                This field is required.
            </small>
          </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
      <div class="form-group">
          <label class="form-control-label" for="productQuantity">Quantity</label>
          <input type="number" class="form-control" name="productQuantity" id="productQuantity" [(ngModel)]="product.quantity" placeholder="Quantity" required/>
          <div [hidden]="!(editForm.controls.productQuantity?.dirty && editForm.controls.productQuantity?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.productQuantity?.errors?.required">
                This field is required.
            </small>
          </div>
      </div>
    </div>
  </div>
  <hr>

  <button type="button" class="btn btn-primary" [disabled]="editForm.form.invalid" (click)="saveProduct()">
    <fa-icon [icon]="'save'"></fa-icon>
    <span> Save</span>
  </button>
</form>
