<div>
    <h2 id="product-page-heading">
        <span>Products</span>
        <button id="new-product-btn" class="btn btn-primary float-right" [routerLink]="['/product/new']">
          <fa-icon [icon]="'plus'"></fa-icon>
          <span>
            New Product
          </span>
        </button>
    </h2>
    <br/>
    <div class="table-responsive" *ngIf="products">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Product Name</span></th>
            <th><span>Product Code</span></th>
            <th><span>Description</span></th>
            <th><span>Quantity</span></th>
            <th><span>Submission Date</span></th>
            <th><span>Price</span></th>
            <th><span>Brand</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products | orderBy : ['id']; trackBy: trackId">
                <td>{{product.id}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.productCode}}</td>
                <td>{{product.description}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.expireDate | date:'medium'}}</td>
                <td>{{product.price}}</td>
                <td>{{product.brand}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline"> Edit</span>
                        </button>
                        <button type="button" (click)="deleteProduct(product)" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline"> Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
